= error_messages_for :channel

%p
  %label Name:<br />
  = text_field :channel, :name

%p
  %label Channel triggers take priority?
  = check_box :channel, :channel_wins

%p
  %label Respond to the channel?
  = check_box :channel, :public

- unless params[:action] == "new"
  - if owns_channel(@channel)
    %p
      %label
        Admins:
        %span.optional (global admins are implied)<br />
      = select_tag("admins[]", options_for_select(Admin.find_by_global(false).to_a.collect {|c| [c.longest_name, c.id] }, @channel.admin_ids), :multiple => true)