<h1>New channel</h1>

<%= error_messages_for :channel %>

<% form_for(@channel) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Channel wins</b><br />
    <%= f.check_box :channel_wins %>
  </p>

  <p>
    <b>Public</b><br />
    <%= f.check_box :public %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', channels_path %>
