<p>
  <b>Name:</b>
  <%=h @channel.name %>
</p>

<p>
  <b>Channel triggers take priority:</b>
  <%=h @channel.channel_wins %>
</p>

<p>
  <b>Respond to the channel:</b>
  <%=h @channel.public %>
</p>

<p>
  <b>Admins:</b><br />
  <%=h admin_logins %>
<p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
