%h2 Channel

= link_to_new "Channel", new_channel_path

= render :partial => "channel", :item => @channel

.left-half
  %h3= @channel.name.to_s + "&#8217;s Triggers"

  - unless @channel.triggers == []
    .dim= render :partial => "triggers/trigger", :collection => @channel.triggers
        
  - else
    %p.notice.error
      None.
      = @channel.name
      does&#8217;t have any triggers. :(

  - if owns_channel(@channel)
    %h3 Add a Trigger
    - form_tag :controller => "triggers", :action => "create", :channel_id => @channel.id do
      = render :partial => "triggers/form"
      = submit_tag "Add Trigger"
  - else
    %p.notice.caution You do not have sufficient privileges to add triggers to this channel.

.right-half
  %h3= @channel.name.to_s + "&#8217;s Admins"

  - unless @channel.all_admins.empty?
    %ul
      - @channel.all_admins.each do |admin|
        %li= link_to admin.longest_name, admin

  - else
    %p.notice.error
      Uh-oh,
      = @channel.name
      doesn&#8217;t have any admins. This is a bad thing. There should always be at least one global admin.
  
  - if owns_channel(@channel)
    %h3 Manage Local Admins
    
    - form_tag :action => "update_admins", :id => @channel.id do
      %p= select_tag("admins[]", options_for_select(Admin.find_by_global(false).to_a.collect {|c| [c.longest_name, c.id] }, @channel.admin_ids), :multiple => true)
      = submit_tag "Update"
  - else
    %p.notice.caution You do not have sufficient privileges to manage this channel&#8217;s admins.

.clear