= render :partial => "channel", :item => @channel

%h3= @channel.name.to_s + "&#8217;s Triggers"

- if @channel.triggers
  %dl
    - @channel.triggers.each do |trigger|
      %dt=h trigger.question + " (" + trigger.admin.name + ")"
      %dd=h trigger.answer
- else
  %p None. :(

%h3
  Add a trigger to
  =h @channel.name

- if logged_in? && owns_channel(@channel)
  - form_tag :action => "create_trigger", :channel_id => @channel do
    = render :partial => "triggers/form"
    = submit_tag "Add Trigger"
- else
  %p
    You aren&#8217;t 
    = link_to "logged in", login_path
    or are not marked as an admin for this channel