%h2 Channel

= render :partial => "channel", :item => @channel

.left-half
  %h3= @channel.name.to_s + "&#8217;s Triggers"

  - unless @channel.triggers == []
    .dim= render :partial => "triggers/trigger", :collection => @channel.triggers
        
  - else
    %p.notice.error
      None.
      = @channel.name
      does&#8217;t have any triggers. :(

  - if owns_channel(@channel)
    %h3 Add a Trigger
    - form_tag :controller => "triggers", :action => "create", :channel_id => @channel.id do
      = render :partial => "triggers/form"
      = submit_tag "Add Trigger"

.right-half
  %h3= @channel.name.to_s + "&#8217;s Admins"

  - unless @channel.admins == []
    .dim= render :partial => "admins/admin", :collection => @channel.admins

  - else
    %p.notice.error
      Uh-oh,
      = @channel.name
      doesn&#8217;t have any admins. This is a bad thing. There should always be at least one global admin.
  
  %h3= "Manage " + @channel.name + "&#8217;s Admins"

.clear
  
  / TODO: multiselect box here w/ admins if user is global or owns this channel