%h2 Channel

= render :partial => "channel", :item => @channel

%h3= @channel.name.to_s + "&#8217;s Triggers"

- unless @channel.triggers == []
  .dim
    - @channel.triggers.each do |trigger|
      .item
        %h4=h trigger.question
        - if owns_trigger(trigger)
          %p.edit
            = link_to "Edit", edit_trigger_path(trigger)
            %span /
            = link_to "Delete", destroy_trigger_path(trigger), :confirm => "Are you sure you want to delete this trigger?"
        %p=h trigger.answer
- else
  %p.notice.error
    None.
    = @channel.name
    does&#8217;t have any triggers. :(

- if owns_channel(@channel)
  %h3
    Add a trigger to
    =h @channel.name
  - form_tag :controller => "triggers", :action => "create", :channel_id => @channel.id do
    = render :partial => "triggers/form"
    = submit_tag "Add Trigger"

/ TODO: This page should also show the channel's admins and offer to add new ones if permissions allow.