= error_messages_for :admin

/ TODO: add multiselect box for channels

%p
  %label Login:<br />
  = text_field :admin, :login

%p
  %label Real Name:<br />
  = text_field :admin, :name
  %span.optional (Optional)

%p
  %label Email:<br />
  = text_field :admin, :email

%p
  %label Password:<br />
  = password_field :admin, :password

%p
  %label Confirm Password:<br />
  = password_field :admin, :password_confirmation

- if params[:action] == "edit"
  %p
    %label Global Admin?
    - if logged_in? and @current_admin.global
      = check_box :admin, :global
    - else
      = h @admin.global