= error_messages_for :admin

%p
  %label Login:<br />
  = text_field :admin, :login

%p
  %label Real Name:<br />
  = text_field :admin, :name
  %span.optional (Optional)

%p
  %label Email:<br />
  = text_field :admin, :email

%p
  %label Password:<br />
  = password_field :admin, :password

%p
  %label Confirm Password:<br />
  = password_field :admin, :password_confirmation

- unless params[:action] == "new"
  %p
    %label Global Admin?
    - if logged_in? and @current_admin.global
      = check_box :admin, :global
    - else
      = h @admin.global

  - if is_global? # Make sure the admin doing this is global
    - unless @admin.global # Don't show this if editing a global admin; their access to everything is implied
      %p
        %label Channels<br />
        = select_tag("channels[]", options_for_select(Channel.find(:all).collect {|c| [c.name, c.id] }, @admin.channel_ids), :multiple => true)