<h1>Editing admin</h1>

<%= error_messages_for :admin %>

<% form_for(@admin) do |f| %>
  <p>
    <b>Login</b><br />
    <%= f.text_field :login %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Hashed password</b><br />
    <%= f.text_field :hashed_password %>
  </p>

  <p>
    <b>Global</b><br />
    <%= f.check_box :global if is_global? %>
    <%=h @admin.global if !is_global? %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @admin %> |
<%= link_to 'Back', admins_path %>
