<h1>Listing admins</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Global</th>
  </tr>

<% for admin in @admins %>
  <tr class="<%= cycle('shade', '') %>">
    <td><%=h admin.name %></td>
    <td><%=h admin.global %></td>
    <td><%= link_to 'Show', admin %></td>
    <td><%= link_to 'Edit', edit_admin_path(admin) if am_myself? %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New admin', new_admin_path %>
