<h1>Register To Become a Member</h1> 
<div class="form"> 
<%= error_messages_for :user -%> 
<fieldset> 
<legend>Create a TucsonRails Account</legend> 
<% form_for :user, :url => { :action => "create" } do |form| %> 
<div> 
<%= form.label :name %>:<br /> 
<%= form.text_field :name, :class => "short" %> 
</div>
<div> 
<%= form.label :login %>:<br /> 
<%= form.text_field :login, :class => "short" %> 
</div> 
<div> 
<%= form.label :email %>:<br /> 
<%= form.text_field :email, :class => "short" %> 
</div> 
<div> 
<%= form.label :password %>:<br /> 
<%= form.password_field :password, :class => "short" %> 
</div> 
<div> 
<%= form.label :password_confirmation %>:<br /> 
<%= form.password_field :password_confirmation, 
:class => "short" %> 
</div> 
<%= submit_tag "Submit" %> 
<% end %> 
</fieldset> 
</div