<!-- TODO: Hamlize me; call admin partial instead; list admin's channels -->

<p>
  <b>Login:</b>
  <%=h @admin.login %>
</p>

<p>
  <b>Name:</b>
  <%=h @admin.name %>
</p>

<p>
  <b>Global:</b>
  <%=h @admin.global %>
</p>

<p>
  <b>Admin of:</b><br />
  <%= admin_of %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Destroy', destroy_admin_path(@admin), :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', admins_path %>
