%h2 Admin

= link_to_new "Admin", signup_path

= render :partial => "admin", :object => @admin

%h3= @admin.longest_name + "&#8217;s Channels"

- if @admin.global
  .dim= render :partial => "channels/channel", :collection => Channel.find(:all)
- else
  - if @admin.channels == []
    %p.notice.error= "None. " + @admin.longest_name + " does not have power over any channels. :("
  - else
    .dim= render :partial => "channels/channel", :collection => @admin.channels