<h1>Listing triggers</h1>

<table>
  <tr>
    <th>Channel</th>
    <th>Admin</th>
    <th>Question</th>
    <th>Answer</th>
  </tr>

<% for trigger in @triggers %>
  <tr>
    <td><%=h trigger.channel_name %></td>
    <td><%=h trigger.admin_login %></td>
    <td><%=h trigger.question %></td>
    <td><%=h trigger.answer %></td>
    <td><%= link_to 'Show', trigger %></td>
    <td><%= link_to 'Edit', edit_trigger_path(trigger) if owns_trigger(trigger) %></td>
    <td><%= link_to 'Destroy', trigger, :confirm => 'Are you sure?', :method => :delete if owns_trigger(trigger) %></td>
  </tr>
<% end %>
</table>

<br />
