<p>
  <b>Channel:</b>
  <%=h @trigger.channel.name %>
</p>

<p>
  <b>Admin:</b>
  <%=h @trigger.admin.name %>
</p>

<p>
  <b>Question:</b>
  <%=h @trigger.question %>
</p>

<p>
  <b>Answer:</b>
  <%=h @trigger.answer %>
</p>


<%= link_to 'Edit', edit_trigger_path(@trigger) unless owns_channel(@channel) %> |
<%= link_to 'Back', triggers_path %>
