!!! Strict
%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en"}

%head
  %title IRC Help Bot
  %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
  
  = stylesheet_link_tag "master"
  = javascript_include_tag :defaults

%body
  #container
  
    #statusbar
      - if logged_in?
        %p.left
          Logged in as
          = link_to @current_admin.longest_name, @current_admin
        %p.right
          = link_to "Logout?",	:controller => "sessions", :action => "destroy"
      - else
        %p.left
          You aren&#8217;t logged in.
        %p.right
          Please
          = link_to "signup", signup_path
          or
          = link_to "login", login_path
      .clear
    
    %h1#header= link_to "IRC Help Bot", "/"
    
    %ul#navigation
      %li= navi_tab_to "Channels", channels_url
      %li= navi_tab_to "Admins", admins_url
    
    #body
      
      - if flash[:notice]
        %p.notice= flash[:notice]
      
      = yield
    
    #footer
      %p Copyright 2008 River Jiang, Noah Lackstein ... for now.
    